<template>
  <!--
      Debes mostrar las notas grabadas en la primera vista y el panel para añadir notas despues de precionar un boton  

  -->

  <div id="app" class="container">
    <br />
    <h3>{{ nuevoBlog }}</h3>

    <div class="form-group">
      <div class="row">
        <div class="col-12">
          <button v-if="vista === 'default'" class="btn btn-primary container" @click="cambiarVista('edit')">Nuevo blog</button>
          <button v-else class="btn btn-secondary container" @click="cambiarVista('default')">Terminar</button>
        </div>
      </div>
    </div>

    <!-- Tarjetas de notas -->
    <div class="col-sm-12" v-if="vista === 'default'">
      <div class="nota" v-for="(nota, index) in notas">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <div class="card-title">
                <h5>{{ nota.titulo }}</h5>
              </div>
              <div class="card-subtitle mb-2 text-muted">{{ nota.fecha }}</div>
              <div class="card-text">{{ nota.texto }}</div>
            </div>
            <div class="text-right">
              <button class="btn btn-danger" @click="eliminarNota(index)">ELIMINAR</button>
            </div>
          </div>
        </div>
      </div>
      <p v-if="notas.length === 0" class="text-left"> No hay blogs para mostar, escribe uno ahora. </p>
    </div>

    <!-- Nueva nota -->
    <div v-if="vista === 'edit'">
      <div class="form">
        <div class="form-group">
          <input type="text" placeholder="Título" class="form-control" v-model="nota.titulo" />
        </div>
        <div class="form-group">
          <textarea placeholder="Nota" class="form-control" v-model="nota.texto" />
        </div>
        <div class="text-right">
          <button class="btn btn-primary" @click="agregarNota">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      nuevoBlog: "Blogs",
      vista: "default",
      nota: {
        titulo: "",
        texto: ""
      },
      notas: [
        /*{
          titulo:
            "¡Oh la profundidad de las riquezas y de la sabiduría y del conocimiento de Dios! ¡Cuán inescrutables son sus juicios e ininvestigables sus caminos! (Rom. 11:33).",
          texto:
            "Una razón por la que Jehová tiene el derecho a ser el Soberano es que posee el conocimiento y la sabiduría que se necesitan para cuidar de toda la creación. Pensemos, por ejemplo, en el poder que le dio a su Hijo para sanar enfermedades que ningún doctor podía curar (Mat. 4:23, 24; Mar. 5:25-29). Lo que Jesús hizo no fue un milagro para Dios, que sabe cómo funciona el cuerpo y puede curarlo. También tiene el conocimiento necesario para resucitar a los muertos y prevenir los desastres naturales. El mundo controlado por Satanás sigue buscando maneras de acabar con los conflictos nacionales e internacionales. Jehová es el único con la sabiduría para traer paz mundial (Is. 2:3, 4; 54:13). Mientras más descubrimos sobre el conocimiento y la sabiduría de Dios, más se parecen nuestros sentimientos a los del apóstol Pablo registrados en el texto de hoy. w17.06 28 párrs. 6, 7",
          fecha: new Date(Date.now()).toLocaleString()
        }*/
      ]
    };
  },
  methods: {
    agregarNota: function() {
      let { texto, titulo } = this.nota;
      if (this.nota.titulo != "" && this.nota.texto != "") {
        this.notas.unshift({
          texto,
          titulo,
          fecha: new Date(Date.now()).toLocaleString()
        });
        alert("Guardado con Exito");
      } else {
        alert("¡Campos vacios!");
      }
      this.nota.titulo = "";
      this.nota.texto = "";
    },
    eliminarNota: function(index) {
      this.notas.splice(index, 1);
    },
    cambiarVista: function(newVista) {
      this.vista = newVista;
      //this.newUtil = '';
    }
  }
};
</script>

<style>
.form {
  text-align: left;
}
.card {
  text-align: left;
  /*border: 2px solid #757575;*/
  padding-left: 8px;
  padding-right: 8px;
}
.nota {
  padding: 5px;
}
</style>